In [1]:
import pandas as pd

In [8]:
a = pd.read_table("/oak/stanford/groups/euan/projects/risk_scores/step3/step3_ukbb_random_out_LDpred_p1.0000e-03.txt", 
                 sep = " ")

In [10]:
a.head()

       IID,       PRS  Unnamed: 2
0  1001207,  5.016361         NaN
1  1001732,  5.003023         NaN
2  1001874,  5.026874         NaN
3  1001964,  5.028892         NaN
4  1004458,  5.044925         NaN

In [15]:
b = a['PRS']

In [17]:
min(b)

2.7251540000000003

In [20]:
b.hist()